* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252537;
    color: #FFF;
}

a {
    text-decoration: none;
    color: #F39256;
    transition: .5s;
}

a:hover {
    color: #9b5628;
}